<div>
  <h2 id="page-heading" data-cy="BirthdayHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.birthday.home.title">Birthdays</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.birthday.home.refreshListLabel">Refresh List</span>
      </button>
      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary btn btn-info mr-2" [routerLink]="['/birthday/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.birthday.home.createLabel"> Create a new Birthday </span>
      </button>
      <button id="mybutton" class="btn btn btn-info mr-2" [routerLink]="['/birthday/new']">
        <span> My Button </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="birthdays?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.birthday.home.notFound">No birthdays found</span>
  </div>

  <!--div class="table-responsive" id="entities" *ngIf="birthdays && birthdays.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lname">
            <span jhiTranslate="jhipsterSampleApplicationApp.birthday.lname">Lname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fname">
            <span jhiTranslate="jhipsterSampleApplicationApp.birthday.fname">Fname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dob">
            <span jhiTranslate="jhipsterSampleApplicationApp.birthday.dob">Dob</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isAlive">
            <span jhiTranslate="jhipsterSampleApplicationApp.birthday.isAlive">Is Alive</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="additional">
            <span jhiTranslate="jhipsterSampleApplicationApp.birthday.additional">Additional</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let birthday of birthdays; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/birthday', birthday.id, 'view']">{{ birthday.id }}</a>
          </td>
          <td>{{ birthday.lname }}</td>
          <td>{{ birthday.fname }}</td>
          <td>{{ birthday.dob | formatMediumDate }}</td>
          <td>{{ birthday.isAlive }}</td>
          <td>{{ birthday.additional }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/birthday', birthday.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/birthday', birthday.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(birthday)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div-->
  <ag-grid-angular style="width: 100%; height: 400px" class="ag-theme-alpine" [rowData]="rowData | async" [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>
