<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="birthday">
      <h2 data-cy="birthdayDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.birthday.detail.title">Birthday</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ birthday.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.birthday.lname">Lname</span></dt>
        <dd>
          <span>{{ birthday.lname }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.birthday.fname">Fname</span></dt>
        <dd>
          <span>{{ birthday.fname }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.birthday.dob">Dob</span></dt>
        <dd>
          <span>{{ birthday.dob | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.birthday.isAlive">Is Alive</span></dt>
        <dd>
          <span>{{ birthday.isAlive }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.birthday.additional">Additional</span></dt>
        <dd>
          <span>{{ birthday.additional }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/birthday', birthday.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
